body{
   display: flex;
   flex-direction: column;
	width: 100%;
	min-height: 100vh;
	font-size: 15px;
	font-family: 'Roboto', sans-serif;
	background-color: #ffffff;
	overflow-x: hidden;
}

*,
*:after,
*:before{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	text-decoration: none;
	-webkit-tap-highlight-color: transparent;
   outline: 0;
   outline-offset: 0;
	/* transition: all 5s linear; */
}

ul{
   list-style: none;
}
