/* <div class="little_sun">
   <div class="sun little">
      <div class="bodySun"></div>
      <div class="balloon_sun">
         <div class="beam_sunR">
            <div class="beam_sun"></div>
         </div>
         <div class="beam_sunR">
            <div class="beam_sun"></div>
         </div>
         <div class="beam_sunR">
            <div class="beam_sun"></div>
         </div>
         <div class="beam_sunR">
            <div class="beam_sun"></div>
         </div>
         <div class="beam_sunR">
            <div class="beam_sun"></div>
         </div>
         <div class="beam_sunR">
            <div class="beam_sun"></div>
         </div>
         <div class="beam_sunR">
            <div class="beam_sun"></div>
         </div>
         <div class="beam_sunR">
            <div class="beam_sun"></div>
         </div>
      </div>
   </div>
</div>
<div class="cloud_and_sun">
   <div class="cloud">
      <div class="balloon_clouds"></div>
      <div class="balloon_clouds"></div>
      <div class="balloon_clouds"></div>
      <div class="balloon_clouds"></div>
      <div class="balloon_clouds"></div>
      <div class="balloon_clouds"></div>
      <div class="balloon_clouds"></div>
      <div class="balloon_clouds"></div>
      <div class="balloon_clouds"></div>
      <div class="balloon_clouds"></div>
      <p>!</p>
   </div>
</div> */

/* /\ /\ /\ */ 
/*Закоментовані шаблони іконок*/

.little_sun{
   position: absolute;
   width: 70%;
   height: 70%;
   top: 43%;
   left: 77%;
   transform: translate3d(-50%,-50%, 10px);
}

.cloud_and_sun{
   position: absolute;
   width: 120%;
   height: 120%;
   top: 65%;
   left: 47%;
   transform-style: preserve-3d;
   transform: translate3d(-50%,-50%, 10px);
}