/* Sun */
/* Cloud */
/* Cloud_and_Sun */
/* Thunderstorm */
/* Clounds */
/* Cloud-east_west */



/* Cloud_and_Sun */

:root{
   --cloud_Shodow_And-Sun: -5px 3px 8px rgba(40,40,40, .3),
            5px -3px 10px rgba(254, 255, 166, 0.4),
            inset 5px -3px 8px rgba(20,20,20, .35),
            inset -5px 2px 4px rgba(254, 255, 203, 0.4);
}

.cloud_and_sun .balloon_clouds{
   box-shadow: var(--cloud_Shodow_And-Sun);
}


/* Cloud-east_west */

:root{
   --cloud_BG_west: linear-gradient(90deg, rgba(255,112,73,0.90) 0%, 
                                          rgba(255,112,73,1) 35%, 
                                          rgba(255,112,73,1) 65%, 
                                          rgba(187,109,78,0.95) 100%);
   --cloud_Shodow_veryLittle: 1px 1px 1px rgba(101, 46, 30, 0.2),
                  -1px -1px 1px rgba(253, 187, 168, 0.5),
                  inset -1px -1px 1px rgba(101, 46, 30, 0.2),
                  inset 1px 1px 1px rgba(255, 184, 164, 0.5);

   --cloud_BG_east: linear-gradient(45deg, #fcca5e 0%, 
                                          #fc9e57d0, 
                                          #a48d6b93 100%);
}

.west .sun_blok .sun{
  filter: hue-rotate(340deg);
}

.west .cloud_blok .balloon_clouds{
	width: 40%;
	height: 20%;
   background: var(--cloud_BG_west); 
   box-shadow: var(--cloud_Shodow_veryLittle);
}

.east .cloud_blok .balloon_clouds{
	width: 50%;
	height: 20%;
   background: var(--cloud_BG_east); 
   box-shadow: var(--cloud_Shodow_veryLittle);
}
