/* <div class="sun little">
  <div class="bodySun"></div> 
  <div class="balloon_sun">
    <div class="beam_sunR">
      <div class="beam_sun"></div>
    </div>   
    <div class="beam_sunR">
      <div class="beam_sun"></div>
    </div> 
    <div class="beam_sunR">
      <div class="beam_sun"></div>
    </div>   
    <div class="beam_sunR">
      <div class="beam_sun"></div>
    </div> 
    <div class="beam_sunR">
      <div class="beam_sun"></div>
    </div>   
    <div class="beam_sunR">
      <div class="beam_sun"></div>
    </div> 
    <div class="beam_sunR">
      <div class="beam_sun"></div>
    </div>   
    <div class="beam_sunR">
      <div class="beam_sun"></div>
    </div>     
  </div>
</div>

<div class="sun big">
  <div class="bodySun"></div> 
  <div class="balloon_sun">
    <div class="beam_sunR">
      <div class="beam_sun"></div>
    </div>   
    <div class="beam_sunR">
      <div class="beam_sun"></div>
    </div> 
    <div class="beam_sunR">
      <div class="beam_sun"></div>
    </div>   
    <div class="beam_sunR">
      <div class="beam_sun"></div>
    </div> 
    <div class="beam_sunR">
      <div class="beam_sun"></div>
    </div>   
    <div class="beam_sunR">
      <div class="beam_sun"></div>
    </div> 
    <div class="beam_sunR">
      <div class="beam_sun"></div>
    </div>   
    <div class="beam_sunR">
      <div class="beam_sun"></div>
    </div>     
  </div>
  
</div> */

/* /\ /\ /\ */ 
/*Закоментовані шаблони іконок*/

:root{
	--sun_BG: linear-gradient(135deg, rgba(249,151,2,1) 0%, rgba(255,232,49,1) 60%, rgba(244,255,75,1) 100%);
  --sun_shodow_filter: 0 0 10px rgba(254,216,58,1);
  --sun_shodow: 0 0 10px rgba(254,216,58,1),
                inset 0 0 10px rgba(254,216,58,1), 
                inset 2.5px 2.5px 5px rgba(249,151,2, .6), 
                -5px -2.5px 5px rgba(249,151,2, .2);
   --sun_shodow_big: 0 0 20px rgba(254,216,58,1),
                inset 5px 5px 15px rgba(254,216,58,1), 
                inset 15px 10px 20px rgba(249,151,2, .6), 
                -15px -10px 25px rgba(249,151,2, .2);

  --sun_shodow_veryLittle: 0 0 1px rgba(254,216,58,1),
                inset 0 0 1px rgba(254,216,58,1), 
                inset 1px 1px 1px rgba(249,151,2, .6), 
                -1px -1px 1px rgba(249,151,2, .2);
}

.sun.little{
  min-width: 25px;
	min-height: 25px;
  max-width: 250px;
	max-height: 250px;
}

.sun.big{
  min-width: 250px;
	min-height: 250px;
  max-width: 1000px;
	max-height: 1000px;
}

.sun{
  position: relative;
	width: 100%;
	height: 100%;
  filter: drop-shadow(var(--sun_shodow_filter));
}

.sun_blok .sun{
  filter: none;
}

.sun.big{
  width: 300px;
	height: 300px;
}

.bodySun{
	position: absolute;
	width: 50%;
	height: 50%;
  top: 50%;  
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
	border-radius: 50%;
	background: var(--sun_BG);
  box-shadow: var(--sun_shodow);/*Little*/  
  background-size: 150%;
  background-position: top left;
  animation: sun_gradient 15s ease infinite alternate forwards;
}

.sun_blok .bodySun{ 
  box-shadow: var(--sun_shodow_veryLittle);
}

.sunbig .bodySun{
  box-shadow: var(--sun_shodow_big);  
}

.balloon_sun{
	position: relative;
	width: 50%;
	height: 50%;
  top: 50%;  
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
  animation: sun_rotate 10s linear infinite;
}

.beam_sun{
  position: absolute;
  width: 20%;
	height: 50%;
	border-radius: 10px;
  top: 50%;  
  left: 50%;
  transform: translate(-50%, 125%) skew(25deg); 
  background-color: red;
	background: var(--sun_BG);
  box-shadow: var(--sun_shodow);
  background-size: 150%;
  background-position: top left;
  animation: sun_gradient 1s ease infinite alternate forwards;
}

.sun_blok .beam_sun{ 
  box-shadow: var(--sun_shodow_veryLittle);
}

.sun.big .beam_sun{
  box-shadow: var(--sun_shodow_big);  
}

.beam_sunR{
  position: absolute;
	width: 100%;
	height: 100%;
  transform: rotate(0deg); 
}

.beam_sunR:nth-child(2){
  transform: rotate(45deg); 
}
.beam_sunR:nth-child(3){
  transform: rotate(90deg); 
}
.beam_sunR:nth-child(4){
  transform: rotate(135deg); 
}
.beam_sunR:nth-child(5){
  transform: rotate(180deg); 
}
.beam_sunR:nth-child(6){
  transform: rotate(225deg); 
}
.beam_sunR:nth-child(7){
  transform: rotate(270deg); 
}
.beam_sunR:nth-child(8){
  transform: rotate(315deg); 
}

@keyframes sun_gradient{
   0%{
       background-position: top left;
   }
   100%{
       background-position: bottom right;
   }
}

@keyframes sun_rotate{
   0%{
      transform: translate(-50%, -50%) rotate(0deg);
   }
   100%{
      transform: translate(-50%, -50%) rotate(360deg);
   }
}
