@import url("Days_and_Title.css");
@import url("weather_cards.css");

/*Content*/

main{
   display: flex;
   justify-content: center;
   align-items: center;
}

.container_forecast{
   display: flex;
   width: 100vw;
   height: 100vh;
   color: #fff;
   padding: 15px;
   background: linear-gradient(0deg, rgba(20,146,2,1) 0%, 
                                     rgba(103,208,54,1) 15%, 
                                     rgba(108,220,56,1) 30% 40%, 
                                     rgba(178,254,250,1) 60%, 
                                     rgba(86,204,242,1) 80%, 
                                     rgba(45,132,218,1) 100%);   
}

.container{
   display: flex;
   flex-direction: column;
   justify-content: center;
   margin: 0 auto;
   width: 90%;
}